<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Conta</title>
  <link rel="stylesheet" href="/css/esqueceuS.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Encontre sua conta</h2>
    <p>Insira seu e-mail ou número de celular para procurar sua conta.</p>
    <form action="#" method="POST">
      <input type="text" id="email-ou-celular" name="email-ou-celular" placeholder="Email ou número de celular" required>
      <div class="buttons">
        <button type="button" class="cancel"><a href="/views/TemConta.html">Cancelar</a></button>
        <button type="submit" class="search" onclick="chamabtn()">Pesquisar</button>
     
    </form>
  </div>

  <script>
    function chamabtn(){
      alert('Sua mensagem foi enviada!!')
    }
  </script>
</body>
</html>

