<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Header Mercado</title>
</head>
<body>
    <header class="header">
        <div class="header-top">
            <a href="/"><img src="/img/logo-nativa.jpg" alt="Logo" class="logo"></a>
            <div class="search-bar">
                <input type="text" placeholder="Pesquisa por produtos ou marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
            <button class="app-button">Baixe o App Meu Atacadão</button>
            <div class="user-options">
               <a href="/views/suporte.html"><i class="fa-solid fa-circle-info"></i>Suporte</a>
                <a href="/views/cadastro.html"><i class="fas fa-user"></i> Entre ou cadastre-se</a>
            </div>
        </div>
        <div class="header-bottom-wrapper">
            <button class="menu-toggle">☰ Menu</button>
            <div class="header-bottom">
                <a href="/views/promocoes.html" class="promocoes" style="color: white;">Promoções</a>
                <a href="/views/bebidas.html">Bebidas</a>
                <a href="/views/alimentos.html">Alimentos Básicos</a>
                <a href="/views/limpezas.html">Produtos de Limpeza</a>
                <a href="/views/beleza.html">Higiene e Beleza</a>
                <a href="/views/temperos.html">Essenciais em Pó</a>
                <a href="/views/derivados.html">Laticínios e Derivados</a>
                <a href="/views/infantil.html">Infantil</a>
               
            </div>
        </div>
        
    </header>
    <script src="/scripts/index.js"></script>
</body>
</html>
